{#
/**
 * @file
 * Default theme implementation to display a header field.
 *
 * Available variables:
 * - tag: The HTML tag which wraps the heading and subtitle elements.
 * - attributes: A list of HTML attributes for the containing element.
 * - heading:
 *   - attributes: A list of HTML attributes for the heading element.
 *   - tag: The HTML tag to wrap the heading text.
 *   - text: The text of the heading.
 * - subtitle:
 *   - attributes: A list of HTML attributes for the subtitle element.
 *   - text: The text of the subtitle.
 *
 * @see template_preprocess_advanced_header_field()
 *
 * @ingroup themeable
 */
#}
<{{ tag }}{{ attributes }}>
  {% if heading.text %}
    <{{ heading.tag }}{{ heading.attributes }}>
      {{ heading.text }}
    </{{ heading.tag }}>
  {% endif %}

  {% if subtitle.text %}
    <div{{ subtitle.attributes }}>
      {{ subtitle.text }}
    </div>
  {% endif %}
</{{ tag }}>
